Source: dedb
Section: utils
Priority: optional
Maintainer: Author <author@example.com>
Build-Depends: debhelper-compat (= 13), dh-exec, dh-python, pybuild-plugin-pyproject, python3-all, python3-hatchling
Standards-Version: 4.6.2
Homepage: https://github.com/dosemu2/dedb

Package: dedb
Architecture: all
Replaces: python3-dedb (<< 0.1.0)
Breaks: python3-dedb (<< 0.1.0)
Depends: ${misc:Depends}, ${python3:Depends}, python3-click (>= 8.1), python3-pydantic (>= 2.0),
 python3-tomli (>= 2.0), python3-internetarchive (>= 5.0), python3-requests
Recommends: bash-completion
Description: DOSEMU2 configuration tooling
 DOSEMU2-DOSBOX importer and run games packaged for DOSBOX in DOSEMU2.
